h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    /* identical to box height */
    width: 50%;
    text-align: center;
    color: #AAECA9;
    background: white;
    padding-top: 15px;
    padding-bottom: 13px;
    padding: left 6px; ;
    padding: right 6px; ;
}

body {
    background: #AAECA9;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #AAECA9;
    background: white;
    width: 50%;
    padding-top: 19px;
    padding-bottom: 27px;
    padding-left: 14px;
    padding-right: 15px;
}