* {
    box-sizing: border-box;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;
    color: #AAECA9;
    background: white;
    padding-top: 15px;
    padding-bottom: 13px;
    padding: left 6px;
    padding: right 6px;
    margin-bottom: 10px;
    margin-top: 0;

}   

body {
    background: #AAECA9;
    display: flex;
    padding: 16px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #AAECA9;
    background: white;
    padding-top: 19px;
    padding-bottom: 27px;
    padding-left: 14px;
    padding-right: 15px;
    margin-bottom: 25px;

    transition: all 0s;
    box-shadow: 2px 2px #515151;
    width: 37.5%;
}

p:hover {
    box-shadow: 3px 3px #515151;
}


div {
    width: 50%;
}
img {
    width: 100%;
    margin-bottom: 25px;
    margin-left: 24px;
}

.images {
    /* контейнер для изображения */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    width: 58.3%;
}
.images img {
    /* каждое изображение в тэге с классом images */
margin: 0;
margin-bottom: 15px;
}
.images img:nth-child(1) {
    width: 46%;;
}
.images img:nth-child(2) {
    width: 46.3%;
}
.images img:nth-child(3) {
    width: 45.1%;
}
.images img:nth-child(4) {
    width: 49.9%;
}
.images img:nth-child(5) {
    width: 32%;
}
.images img:nth-child(6) {
    width: 30.2%;
}
.images img:nth-child(7) {
    width: 30.7%;
}